@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Montserrat:wght@100;200&family=Pacifico&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap');


*{
    margin: 0vw;
    padding: 0vw;
}

body{
    background-color: rgb(14, 13, 30);
}

.container{
    display: grid;
    grid-area: auto auto auto;
    padding: 2vw;
    gap: 1vw;
}

.three{
   grid-column: 3/4;
}

h2{
    background-color: rgb(14, 13, 30);
    font-size: 2vw;
    text-align: center;
    color: gray;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.801);
    transition: all 0.2s linear;
    padding: 2vw 0vw 0vw 0vw;
    font-family: 'Ysabeau Infant', sans-serif;
}

h2:hover{
    color: white;
}

.divs{
    overflow: hidden;
}

.divs:hover .image{
    scale: 1.3;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    transition: all 2s linear;
}

.iconContainer{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 5vw;
    padding: 0px;
}

.iconTwo{
    width: 2vw; 
}

@media screen and (max-width:600px){
    .container{
        gap: 2px;
    }
    .one{
        grid-column: 1 / 4;
    }

    .two{
        grid-column: 1/2;
    }

    h2{
        font-size: 8vw;
    }

    .icon{
        width: 10vw;
    }
}